* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-resizable-handle {
  z-index: 200 !important;
}

.layout-item:hover .options {
  display: block !important;
}
